.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3rem;
  text-decoration: none;
  color: inherit;
  color: rgb(0, 126, 217)
}

.buttonHeader {
  font-size: 1.5rem;
  margin-left: 10px;
}
