* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 3vw 5vw;
  background-color: #f5f5dc;
  font-family: sans-serif, Arial, Helvetica;
}

.main-div {
  display: grid;
  gap: 40px;
}

Button {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgb(80, 80, 211);
}
